@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-toolbar {
  --background: #B22222;
  font-family: 'Roboto', sans-serif;
  

  ion-title {
    text-align:center;    
  }
}

ion-content {
  --background: white;

    ion-searchbar {
      padding: 20px;
      --background: white;
      --box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.4);
      --border-radius: 5px;
      --icon-color: #B22222
    }
    
    ion-chip {
      padding: 15px;
      margin-left: 8px;
      --background: #B22222;
      --color: white;
    }

    ion-card {
      --background: radial-gradient(circle, rgba(242,241,241,1) 0%, rgba(199,198,198,0.196516106442577) 46%, rgba(199,199,199,1) 100%);
      font-family: 'Roboto', sans-serif;

      ion-card-title, ion-card-content {
        color: #3d3d3e
      }
      ion-card-title {
        text-decoration: underline;
        text-decoration-thickness: 0.1px;
      }     
    }

    ion-badge {
      margin-left: 10px;
      
    }
  
}

#badge1 {
  --background: red;
  --padding-start: 10px;
  --padding-end: 10px;
  
}

#badge2 {
  --background: black;
  --padding-start: 10px;
  --padding-end: 10px;
}

#badge3 {
  --background: gray;
  --padding-start: 10px;
  --padding-end: 10px;
}

#badge4 {
  --padding-start: 10px;
  --padding-end: 10px;
  
}

ion-fab {
  ion-fab-button {
    --background: #B22222
  }
}
