<ion-header [translucent]="true">
  <ion-toolbar>   
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name=""></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>MinasMotors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar></ion-searchbar>  

  <ion-chip>
    <ion-icon name="car" color="dark"></ion-icon>
    <ion-label>Veículos</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-icon name="cash-outline" color="dark"></ion-icon>
    <ion-label>Expansivos</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-icon name="car-sport-outline" color="dark"></ion-icon>
    <ion-label>Esportivos</ion-label>
  </ion-chip>

  <ion-card *ngFor="let card of cards" >
    <ion-card-header>
      <ion-card-title> {{card.titulo}} </ion-card-title>
      <ion-card-subtitle> {{card.subtitulo}} </ion-card-subtitle>      
    </ion-card-header>
  
    <ion-card-content>
      {{ card.conteudo }}
    </ion-card-content>

    <ion-img [src]="card.foto"></ion-img>

    <ion-badge id="badge1">987</ion-badge>
    <ion-badge id="badge2">6</ion-badge>
    <ion-badge id="badge3">5,3k</ion-badge>
    <ion-badge id="badge4">132</ion-badge>

  </ion-card>

</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
